# some testing files
/target
/helloworld.c
/helloworld.ro
/helloworld_on_c
/helloworld_on_righton
/helloworld_on_righton.o
/out
/out.o

# ide files
.idea
# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
!*.code-workspace
!.vscode/righton-vscode/
!.vscode/righton-vscode/**

# Built Visual Studio Code Extensions
*.vsix

# windows
/vcpkg.json
/build.rs

/arms_cache
example*
!tests/
!tests/**
tmp*
!**/*test.rs
!examples.md
!example.ro 
